<!-- navbar.handlebars -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Dev Blog</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-primary my-2 my-sm-0" href="/login">Login</a>
      <a class="btn btn-outline-success my-2 my-sm-0" href="/signup">Sign Up</a>
    </div>
  </div>
</nav>
