<!-- signup.handlebars -->

<!-- Include the main layout -->
{{> main}}

<!-- Content Section -->
{{#block "content"}}
<div class="container">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
{{/block}}

